:host {
  display: grid;
  grid-template-rows: min-content 144px 1fr;
  height: 100%;
  padding: 4px;
  background-color: var(--color-wireframe-gray);
}

figure {
  position: relative;
  img {
    position: absolute;
    height: 200px;
    width: auto;
    left: 50%;
    transform: translate(-50%);
  }
}

.title {
  color: var(--color-white-gray);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 8px;
  align-items: center;
  padding: 24px 20px;
  ed-icon {
    width: 32px;
    height: 32px;
  }
}

.card {
  padding: {
    left: 20px;
    top: 56px;
    right: 20px;
    bottom: 20px;
  }
  background-color: var(--color-white-gray);
  border-radius: 8px;
  box-shadow: var(--inner-shadow);
  display: grid;
  align-content: flex-start;
  row-gap: 16px;
}

.card-title {
  text-align: center;
  color: var(--color-wireframe-gray);
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.topic {
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 4px;
  justify-content: center;
  &:not(:last-child) {
    border-right: 1px solid var(--color-light-gray);
  }
  &__infos {
    align-items: center;
  }
  &__info {
    display: flex;
    align-items: center;
    ed-icon {
      width: 16px;
      height: 16px;
    }
  }
  &__label {
    text-align: center;
  }
}

.description {
  color: var(--color-dark-gray);
}
