<header>
  <p class="typography--headline">
    <ed-icon name="Pokeball"></ed-icon> Pokédex
  </p>
  <div class="filters">
    <ed-search-bar [formControl]="searchControl"></ed-search-bar>
    <ed-sort-btn [formControl]="sortByControl"></ed-sort-btn>
  </div>
</header>

<main>
  <ed-pokemon-card
    *ngFor="let pokemon of filteredPokemons$ | async"
    [name]="pokemon.name"
    [order]="pokemon.order"
    [imgSrc]="pokemon.sprites.frontDefault"
    [routerLink]="pokemon.id.toString()"
  ></ed-pokemon-card>
</main>
